<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'About' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngIf="appInfo">
    <ion-card-content>
      <img src="assets/img/logo.png" />
      <p>
        {{ appInfo.name }} v{{ appInfo.version }}
      </p>
      <p>
        {{ appInfo.description }}
      </p>
    </ion-card-content>
  </ion-card>

  <p class="link" *ngIf="appInfo">
    <a href="{{ appInfo.github }}" translate>Source code</a>
  </p>

</ion-content>
