page-home {
  .head {
    font-size: 140%;
    font-weight: bold;
    text-align: center;
  }
  .address {
    text-align: center;
    a {
      cursor: pointer;
    }
  }
  .share {
    .icon {
      margin-left: 10px;
    }
  }
  .balance {
    margin: 10px 0;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
  }
}
