page-home {
  .card-header {
    text-align: center;
  }
  .address {
    margin: 30px 0;
    text-align: center;
    a {
      cursor: pointer;
    }
  }
  .balance {
    padding-left: 15px;
    font-weight: bold;
  }
}
